<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <title>Eindproject</title>

{% do craft.app.view.registerCssFile('@web/styles/reset.css') %}
{% do craft.app.view.registerCssFile('@web/styles/style.css?') %}



</head>
<body>
    <nav>
        <div>
            <img src="{{logo.logo.one().url('logo')}}" alt="">
        </div>
        <div>
            <a href="{{siteUrl}}">Shop</a>
            <a href="{{siteUrl}}blog">Club in de kijker</a>
            <a href="{{siteUrl}}contact-Page">Contact</a>
        </div>
    </nav>
    
{% block content %}
{% endblock %}


</body>
</html>
