{% extends "_layout" %}

{% block content %}
    
    <div class="title">
        <h2>Our products</h2>
    </div>

    <div class="products">

        {% set entries = craft.entries().section('products').all() %}

        {% for entry in entries %}

{% set categories = craft.entries().section('storeCategories').all() %}
<div class="plugin-categories">
{% for cat in categories %}
<label><input type ="checkbox" name="{{cat}}"/>{{cat}}</label>
{% endfor %}


            <div class="product">

        <img src="{{ entry.productImg }}" alt="{{ entry.productTitle }}">

               <p>{{ entry.productTitle}}</p> 
                {# Loop door de categorieën van het product #}
                {% for category in entry.categories %}
                    <span>{{ category.title }}</span>
                {% endfor %}

                <p>€ {{ entry.price}}</p>

                <a href="detail.html">kom meer te weten</a>
                <a href="#">voeg toe aan winkelwagen</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}
