{% extends "_layout" %}

{% block content %}
    
    <div class="title">
        <h2>Onze producten</h2>
    </div>

              <div class="categories">
    {% set categories = craft.entries().section('storeCategories').all() %}
    <div class="product-categories">
        {% for cat in categories %}
            <label ><input type="checkbox" name="{{ cat.slug }}" />{{ cat.title }}</label>
        {% endfor %}
            </div>
    </div>

    <div class="products">
        {% set entries = craft.entries().section('products').all() %}
        {% for entry in entries %}

            <div class="product" data-categories="{{ entry.categories ? entry.categories|join(',') : '' }}">

                <img src="{{entry.productImg.one().url('productImg')}}" alt="">


                <p>{{ entry.productTitle }}</p> 

                
                {% if entry.categories|length %}
                    {% for categorie in entry.categories %}
                        {{ categorie.title }}
                    {% endfor %}
                {% endif %}

                <p>€ {{ entry.price }}</p>
                <a href="products/{{ entry.slug }}">kom meer te weten</a>
            </div>
        {% endfor %}
    </div>

    <script>
        let selectedCategories = [];
        

        document.querySelectorAll(".product-categories input").forEach((element) => {
            element.addEventListener("change", onSelectCategory);
        });
 
        function onSelectCategory(e) {
            if (selectedCategories.includes(this.name)) {
                let index = selectedCategories.indexOf(this.name);
                selectedCategories.splice(index, 1);
         } else {
                selectedCategories.push(this.name);
            }
            this.parentElement.style.backgroundColor = this.checked ? '	#ff7f00' : '';
            updateGrid();

        }
        
 
        function updateGrid() {
            document.querySelectorAll(".products .product").forEach((el) => {
                el.style.display = "none";
                let dataCategories = el.getAttribute("data-categories").split(',');
                for (let i = 0; i < selectedCategories.length; i++) {
                    if (dataCategories.includes(selectedCategories[i])) {
                        el.style.display = "block";
                        document.querySelector(".products").style.textAlign = "center";
                    }
                }
                if (selectedCategories.length == 0) {
                    el.style.display = "block";
                }
            });
        }

        



    </script>

{% endblock %}
